
.inventory--container {
    width: 100%;
    height: 100%;
}

.inventory-bar--container {
    width: 100%;
    height: calc(100% - 70px);
    padding: 20px;
}
.invertory-header--container {
    width: 100%;
    height: 50px;
    border-radius: 3px;
    background: #13131399;
}
.inventory-inner-header--container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.header-item {
    color: #ffffff;
    font-size: 13px;
}
.inventory-item-list--container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}