
.checkout--container {
    width: 100%;
    height: 100%;
}
.checkout-bar--container {
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* background-color: forestgreen; */
}

.checkout-bar-left--container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 0;
    /* background-color: rgb(132, 255, 0); */
}
.product-list--container{
    overflow-y: auto;
    width: 100%;
    height: 400px;
    padding: 10px;
}
.scanner--container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
}

.scanner-input {
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    padding: 0 0 0 10px;
    background-color: #13131399;
}
#get-product-button {
    cursor: pointer;
    background-color: #0041C0;
    color: #ffffff;
    border: none;
    outline: none;
    width: 100px;
    height: 40px;
    transition: all .25s ease;
}
#get-product-button:hover {
    opacity: .5;
    transition: all .25s ease;
}

.checkout-bar-right--container {
    width: 30%;
    height: 100%;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    border-radius: 6px;
}
.checkout-bar-inner-right--container {
    padding: 10px;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000000, #00000000);
}
.payment-bar--container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.payment-bar-header--container {
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    padding: 0 0 0 16px;
}
.payment-bar-title {
    color: #ffffff;
    font-size: 20px;
}

.payment-bar-body--container {
    width: 100%;
    height: 100%;
    padding: 10px 16px 10px 16px;
}
.payment-bar-footer--container {
    width: 100%;
    min-height: 130px;
    padding: 0 14px 0 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.checkout-info--container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.checkout-info-h1 {
    font-size: 18px;
    color: #ffffff;
}
.checkout-submit--container {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: flex-start;
}
.checkout-submit-button {
    cursor: pointer;
    color: #ffffff;
    width: 100%;
    height: 40px;
    font-size: 14px;
    background: #000000;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: all .5s ease;
}
.checkout-submit-button:hover {
    opacity: .5;
    transition: all .5s ease;
}
.payment-item {
    cursor: pointer;
    margin: 12px 0 3px 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    justify-content: flex-start;
    padding: 8px 0 8px 10px;
    transition: all .5s ease;
}
.payment-item:hover {
    opacity: .5;
    transition: all .5s ease;
}
.payment-info-p {
    color: #ffffff;
}
.payment-methods--container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
}
.payment-item-p {
    margin: 0 0 0 10px;
    color: #ffffff;
}
.checkbox-input {
    outline: none;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 0;
}
.checkmark {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    background-color: rgb(136, 136, 136);
    border-radius: 50%;
}

.checkbox-input:checked ~ .checkmark {
    transition: all .5s ease;
    background-color: #0041C0;
}
