
.dashboard--container {
    width: 100%;
    height: 100%;
}

.dashboard-bar--container {
    width: 100%;
    height: calc(100% - 70px);
}
.dashboard-header--container {
    width: 100%;
    height: 60px;
    padding: 2px 2px 2px 20px;
}

.dashboard-body--container {
    max-width: 100%;
    height: calc(100% - 60px);
    overflow-x: auto;
    display: flex;
    padding: 2px 2px 20px 0;
}
.dashboard-section {
    min-width: 40%;
    height: 100%;
    margin-left: 10px;
    border-radius: 10px;
    background: #3636364b;
}
.dashboard-inner-section {
    width: 100%;
    height: 100%;
}
